html {
  background-color: #FFE5FA;
}

.square1 {
  margin: auto;
  display: block;
  position: absolute;
  top: 203px;
  left:380px;
  z-index: -1;
}
.square2 {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  transform: scale(0.9,0.9);
}

.square3 {
  position: absolute;
  top: 12%;
  left: 3%;
  transform: translate(-50%, -50%);
  z-index: -2;
  transform: scale(0.9,0.9);
}

.Watch{
  font-family: 'Lobster', cursive;
  position: absolute;
  top:-60px;
  left:250px;
}
.Cast{
  font-family: 'Lobster', cursive;
  position: absolute;
  top:-60px;
  left:260px;
}

.About{
  font-family: 'Lobster', cursive;
  position: absolute;
  top:-60px;
  left:260px;
}
.logo{
  margin: auto;
  display: block;
}

.info{
font-family: 'Lobster', cursive;
background-color: pink;
padding: 20px;
}

.profile1{
position: absolute;
left:12%

}

.profile2{
  position: absolute;
  right:14%
}



.Deborah{
  font-family: 'Lobster', cursive;
  background-color: pink;
  margin-right: 100px;
  display: inline;
  position: absolute;
  right:290px;
  bottom:250px;
  padding:5px;
}

.Sarah{
  font-family: 'Lobster', cursive;
  background-color: pink;
  margin-right: 100px;
  display: inline;
  position: absolute;
  right:50px;
  bottom:250px;
  padding:5px;
}

.description{
  font-family: 'Lobster', cursive;
  background-color: pink;
  position: absolute;
  bottom: 100px;
  padding: 20px;
}
